.Post {
    border: 2px solid #ccc;
    margin: 20px auto;
    box-shadow: 0 2px 3px #ccc;
    padding: 6px 10px;
    background-color: white;
}

.PostButton {
    border: 2px solid #ccc;
    box-shadow: 0 2px 3px #ccc;
    padding: 5px 10px;
    background-color: white;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.ButtonsHolder {
    float: right;
    display: flex;
    justify-content: center;
}

